[Unit]
Description="HashiCorp Vault Agent"
Documentation=https://www.vaultproject.io/docs/
Requires=vault.service
After=vault.service
ConditionFileNotEmpty=/etc/vault-agent.d/vault-agent.hcl
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=exec
ExecStart=/usr/bin/vault agent -config=/etc/vault-agent.d/vault-agent.hcl
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
