datacenter = "{{ DC }}"
data_dir = "/opt/consul"
verify_incoming_rpc = true
verify_outgoing = true
verify_server_hostname = true
ca_file = "/usr/local/share/ca-certificates/vault.global.crt"
cert_file = "/opt/consul/agent.crt"
key_file = "/opt/consul/agent.key"

acl {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
}

ports {
  https = 8501
}
