client {
  enabled = true
  reserved = {
    cpu = 500
    memory = 400
    disk = 1024
  }
  cni_path = "/usr/local/cni/bin"
  cni_config_dir = "/etc/cni.d"
  network_interface = "wg0"

  host_volume "csi_storage_master" {
    # This volume is reshared by democratic-csi into all the other node-local
    # volumes.
    path = "/opt/csi"
  }
}

plugin "docker" {
  config {
    auth {
      config = "/root/.docker/config.json"
    }

    volumes {
      enabled = true
    }

    gc {
      image_delay = "12h"
    }

    allow_privileged = true
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
