datacenter = "{{ DC }}"
region = "{{ DC }}"
data_dir = "/opt/nomad"
bind_addr = "0.0.0.0"

advertise = {
    http = "{{ '{{' }} GetInterfaceIP \"wg0\" }}"
    rpc = "{{ '{{' }} GetInterfaceIP \"wg0\" }}"
    serf = "{{ '{{' }} GetInterfaceIP \"wg0\" }}"
}

acl {
  enabled = true
}

tls {
  http = true
  rpc = true

  ca_file = "/usr/local/share/ca-certificates/vault.global.crt"
  cert_file = "/opt/nomad/agent.crt"
  key_file = "/opt/nomad/agent.key"

  verify_server_hostname = true
}
