[Unit]
Description=self destruct on poweroff

# We want to stop this service pretty late in the shutdown process, but
# before the network goes down. By setting Before=network.target, our self
# destruct will only happen after everything which is After=network.target.
Before=network.target user.slice machine.slice
# But the self destruct requires the network to actually be active.
After=systemd-networkd.service nss-lookup.target

[Service]
EnvironmentFile=-/etc/self-destruct.env
ExecStop=/usr/local/sbin/hcloud-self-destruct --force
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
